body {
    display: relative;
}

body::after {
    content: '';
    background-image: url("https://bigmemes.funnyjunk.com/large/pictures/e5/1a/e51a5f_6440222.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    opacity: 0.2;
}